.card{
    position: relative;   
}

.card img{
    width: 100%;
    display: block;
    border: 4px solid white;
    border-radius: 8px;
}


.card .front{
    position: absolute;
    transform: rotateY(90deg);
    transition-delay: all ease-in 0.2s;
}

.isFlipped .front{
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .back{
    transform: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.isFlipped .back{
    transform: rotateY(90deg);
    transition-delay: 0.2s;
}

.card .back:hover{
    opacity: 0.5;
    
}